<h2 class="header">Area Restrita</h2>
<div class="block_ligth area_restrita">

	<div class="dados">
		{% if not auth %}
		<div id ="messages_login"><span>Por favor entre com os seus dados pessoais {{menssage}}</span></div>
		
		<fieldset id="login_form">
			 {% csrf_token %}
			<input id="login_user" name="username" type="text" />
			<input id="login_pass" name="password" type="password" />
			<button onclick="logar()" src="{{MEDIA_URL}}images_portal/entrar.jpg"> Entrar </button>
		
		<a href="lose_pass">Esqueci minha senha</a>
		</fieldset>
		{% else %}
			{% if not perfil.foto %}
			
				<div id="auth_foto">
				    {%if perfil%}
					    <a href="/perfil/meuperfil/{{perfil.user}}/ver" ><img src="{{MEDIA_URL}}/images_portal/user_none.jpg"  /></a>
			        {% else %}
			        <a href="#" title="Não consta nem um perfil no sistema.Click em editar perfil para adicionar um perfil." class="colorTipContainer yellow"> <img src="{{MEDIA_URL}}/images_portal/user_none.jpg"  /></a>
			        
			        {% endif %}    
				</div>
				
				{% else %}
				
			    <div id="auth_foto">
					<a href="/perfil/meuperfil/{{perfil.user}}/ver" ><img src="{{MEDIA_URL}}{{perfil.foto}}"  /></a>
				
				</div>
				
				
			{% endif %}
			SEJA BEM VINDO
			 <br /><strong>{{perfil.nome}}</strong>
			 
			     <div id="editar_perfil">
			         <a href="/perfil/perfil/" title="Click para modificar os dados do perfil." class="colorTipContainer yellow"> <img src="{{MEDIA_URL}}images_portal/editar_perfil.jpg"/> </a>
			     </div>
			 
			     <div id="editar_album">
			         <a href="/perfil/album/" title="Click para inserir ou excluir fotos do album." class="colorTipContainer yellow"> <img alt="Adicionar foto " src="{{MEDIA_URL}}images_portal/editar_album.jpg"/> </a>
			     </div>
			    
			     
			
			<a href="/logout/">Sair</a>
		{% endif %}
		
	</div>
</div>
