{% extends "layout.html" %}

{%  block titulo %}Redes{% endblock %}

{% block direita %}{% endblock %}
{% block esquerda %}{% endblock %}
{%block conteudo%}

<div id="conteudo_geral">
	<h2>Editar Perfil</h2>

    <div class="aux_form">
        <a href="/perfil/perfil/" title="Click para inserir ou modificar dados do perfil." class="colorTipContainer yellow"><span class="ui-icon ui-icon-person"></span>Perfil</a>
        <a href="/perfil/profissional/" title="Click para inserir ou modificar dados da profissão ou especialização." class="colorTipContainer yellow" ><span class="ui-icon ui-icon-document"></span>Profissional</a>
        <a href="/perfil/contato/" title="Click para inserir ou modificar contato." class="colorTipContainer yellow"><span class="ui-icon ui-icon-note"></span>Contatos</a>
        <a href="/perfil/redes/"  class="select" title="Click para inserir ou modificar redes social." class="colorTipContainer yellow"><span class="ui-icon ui-icon-refresh"></span>Redes Sociais</a>
    </div>

	    <div id="formperfil"></>
		    <form method="POST">
			     {% if formperfil %}{{formperfil.as_table}}{% endif %}
			     <input type="submit" value="Savar alterações" ></input>
		    </form>
	    </div>
	{% if contato_list  %}
   
    <table id="perfil" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <th>Tipo</th>
            <th>Contato</th>
            <th>Ações</th>
        </thead>
        <tbody>
            {%for contato in contato_list%}
                <tr class="{%cycle 'linha1' 'linha2' %}" >
                    {%if contato.vch_tipo = "1" %}
                        <td>Orkut</td>
                    {%endif%}
                    {%if contato.vch_tipo = "2" %}
                        <td>Facebook</td>
                    {%endif%}
                    {%if contato.vch_tipo = "3" %}
                        <td>Msn</td>
                    {%endif%}                    
                    <td>{{contato.rede}}</td>
                    <td><a href='/perfil/del/redes/{{contato.int_idcontato}}'>Deletar</td>
                </tr>
            {%endfor%}
        </tbody>

    </table>
    
{%endif%}
	
</div>
	{%endblock%}


	{%block includejs%}

	{% endblock %}

	{% block scriptjs%}

	{% endblock %}


